.store-item-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--white);
    align-items: center;
    border-radius: 8px;
    padding: 16px;
    border: 3px solid var(--bg-card);
    height: 20rem;
    justify-content: space-between;
}

.main-item-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.store-item-card:hover {
    border-color: var(--yellow);
    transition: border-color 0.2s;
    background-color: var(--bg-card);
}

.store-banner {
    border-radius: 8px;
    width: auto;
    height: 5rem;
    transition: filter 0.3s ease-in-out;
}

.description p {
    font-weight: 300;
    font-size: 13px;
}

.price {
    display: flex;
    flex-direction: row;
    gap: 8px;
    border-radius: 4px;
    padding-top: 6px;
    padding-right: 8px;
    padding-bottom: 6px;
    padding-left: 8px;
    width: 100%;
    background-color: var(--yellow);
    align-items: center;
    justify-content: center;
    color: var(--white);
    cursor: pointer;
}

.price:hover {
    filter: brightness(90%);
}

.price:hover label {
    cursor: pointer;
}

.store-item-card:has(.price:hover) .store-banner {
    filter: brightness(1.5);
}