<section>
  <div id="container">
    <div class="pre-content">
      <h3>Modelar é enxergar além do código.</h3>
      <h4>MATRIX, 2025</h4>
    </div>
    <div class="image">
      <img src="assets/images/umland.svg" alt="UMLand Logo">
    </div>
    <div class="content">
      <div class="amazing-credits">
        <h1>UMLand</h1>
        <h1>UM JOGO PARA PRATICAR UML</h1>
        <p>
          Desenvolvido como Trabalho de Conclusão de Curso pela equipe <strong>Matrix</strong>,
          do curso de <strong>Engenharia de Software</strong> da
          <strong>Pontifícia Universidade Católica do Paraná (PUCPR)</strong>,
          o UMLand nasce com o propósito de tornar o estudo da
          <em>Unified Modeling Language (UML)</em> mais dinâmico, acessível e envolvente.
        </p>

        <p>
          O UMLand combina diversão e aprendizado, guiando estudantes na evolução de
          simples aprendizes a verdadeiros mestres da modelagem de software.
        </p>

        <hr>

        <p><strong>Desenvolvedores:</strong> Angelo Brocca,<br>João Elias Fadel, Sidnei Henrique Reis</p>
        <p><strong>Orientação:</strong> Professor Tiago Navarro</p>

        <hr>

        <p><strong>Agradecimentos especiais:</strong></p>
        <ul>
          <li><strong>Angelo Brocca</strong> dedica este projeto à sua mãe e à sua gata Jade, fontes constantes de amor
            e inspiração.</li>
          <li><strong>Sidnei Henrique Reis</strong> agradece à sua família e aos colegas de curso, por todo apoio e
            companheirismo ao longo da jornada.</li>
          <li><strong>João Elias Fadel</strong> dedica este trabalho à sua família, aos amigos e ao eterno Ozzy
            Osbourne.</li>
        </ul>

        <hr>

        <p>
          A equipe Matrix agradece a todos os jogadores que embarcaram nesta aventura
          de aprendizado, e a todos que tornaram o <strong>UMLand</strong> uma realidade.
        </p>

        <p><em>
            Que sua jornada pelo mundo da UML seja repleta de descobertas, desafios e conquistas!
          </em></p>
      </div>
    </div>
    <div class="return-button-container" [class.show]="showReturnButton">
      <button type="button" class="return-button" (click)="returnToMap()">
        Retornar à Seleção de Mapas
      </button>
    </div>
  </div>
</section>
<audio #audioElement>
  <source src="assets/videos/credits-theme.mp3" type="audio/mpeg">
</audio>