.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    backdrop-filter: blur(0px);
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: all 0.2s ease-out;
}

.overlay.visible {
    opacity: 1;
    pointer-events: all;
    background-color: var(--overlay);
    backdrop-filter: blur(2px);

    transition: all 0.2s ease-out;
}

.dialog {
    background: var(--white);
    border-radius: 16px;
    padding: 16px 24px;
    min-width: 30vw;
    max-width: max-content;
    max-height: 60vh;
    overflow-y: auto;
    gap: 16px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: all 0.3s;
}

.header .lucide-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    color: var(--black);
    transition: color 0.3s;
}

.header button:hover .lucide-icon {
    color: var(--red) !important;
}


.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .lucide-icon {
    width: 88px;
    height: 88px;
    font-size: 64px;
}

.content h2 {
    font-size: 24px;
    font-weight: 800;
    
}

.content p {
    font-size: 16px;
    font-weight: 400;
}

.actions { 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}

.actions .btn {
    padding: 8px 24px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
}

.actions .btn.btn-secondary {
    background: var(--gray);
    color: var(--black);
    border: 1px solid var(--black);
    font-weight: 400;
    transition: background 0.3s;
}

.actions .btn.btn-secondary:hover {
    background: var(--white);
}

.dialog .actions .btn.btn-primary {
    background: var(--green) !important;
    color: var(--white) !important;
    border: 1px solid var(--green) !important;
    font-weight: 800;
    transition: all 0.3s;
}

.dialog .actions .btn.btn-primary:hover {
    background: var(--red) !important;
    border: 1px solid var(--red) !important;
}