.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    backdrop-filter: blur(0px);
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: all 0.2s ease-out;
}

.overlay.visible {
    opacity: 1;
    pointer-events: all;
    background-color: var(--overlay);
    backdrop-filter: blur(2px);
    transition: all 0.2s ease-out;
}

.dialog {
    background: var(--white);
    border-radius: 20px;
    padding: 32px 32px;
    min-width: 35vw;
    max-width: 40vw;
    max-height: 70vh;
    overflow-y: auto;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -8px;
    margin-right: -8px;
}

.header button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
    transition: background 0.2s;
}

.header button:hover {
    background: var(--gray);
}

.header button:hover .lucide-icon {
    color: var(--black);
}

.header .lucide-icon {
    width: 28px;
    height: 28px;
    cursor: pointer;
    color: #666;
}


.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.content .lucide-icon {
    width: 72px;
    height: 72px;
    flex-shrink: 0;
    color: var(--yellow);
}

.content .right {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.content h2 {
    font-size: 24px;
    font-weight: 800;
    color: var(--black);
    margin: 0;
}

.content p {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    line-height: 1.5;
    margin: 0;
}

.actions { 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 8px;
}

.actions .btn {
    padding: 10px 28px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease;
    outline: none;
    min-width: 120px;
}

.btn-secondary {
    background: var(--white);
    color: #666;
    border: 2px solid var(--gray);
    transition: all 0.2s ease;
}

.btn-secondary:hover {
    background: var(--gray);
    color: var(--black);
    border-color: #999;
}

.btn-primary {
    background: var(--green);
    color: var(--white);
    border: 2px solid var(--green);
    transition: all 0.2s ease;
}

.btn-primary:hover {
    background: #00b814;
    border-color: #00b814;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 216, 25, 0.2);
}