<div class="main-container">
    <div class="login-container">
        <div class="form-section-container">
            <section class="welcome-section">
                <div class="welcome-text">
                    <h2>Bem-vindo(a) à UMLand!</h2>
                    <p>Um jogo para praticar UML.</p>
                </div>
                <button class="login-button" routerLink="/about">Sobre</button>
            </section>
            <div class="form-section">
                <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
                    <div class="form-group">
                        <input type="email" [(ngModel)]="email" name="email" placeholder="E-mail" required>
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="password" name="password" placeholder="Senha" required>
                    </div>
                    <div class="form-actions">
                        <!-- <button type="button" class="forgot-password">Esqueci minha senha</button> -->
                        <button type="submit" class="login-button" [disabled]="isLoading">
                            {{ isLoading ? 'Entrando...' : 'Jogar' }}
                        </button>
                    </div>
                </form>
            </div>

            <div class="register-section">
                <div class="register-card">
                    <div class="register-text-container ">
                        <p class="register-text">Ainda não tem uma conta?</p>
                        <p class="register-text">Cadastre-se agora!</p>
                    </div>
                    <button type="button" class="register-button" routerLink="/register">Cadastrar</button>
                </div>
            </div>
        </div>
        <div class="logo-section">
            <img src="assets/images/umland.svg" alt="Logo" class="logo">
            <img src="assets/images/characters/homem1.png" class="floating-character character-1 hover-effect">
            <img src="assets/images/characters/homem2.png" class="floating-character character-2 hover-effect">
            <img src="assets/images/characters/homem3.png" class="floating-character character-3 hover-effect">
            <img src="assets/images/characters/mulher1.png" class="floating-character character-4 hover-effect">
            <img src="assets/images/characters/mulher2.png" class="floating-character character-5 hover-effect">
            <img src="assets/images/characters/robo1.png" class="floating-character character-6 hover-effect">
        </div>
    </div>
    <app-footer></app-footer>
</div>