.node-wrapper {
    width: 100%;
    position: relative;

    cursor: pointer;

    user-select: none;
}

.node-wrapper.locked {
    opacity: 0.5;
}

.node {
    width: 100%;

    background: #D9D9D9;
    border: 3px solid #B2B2B2;
    border-radius: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    padding: 12px 16px;

    transition: 0.5s;
    
}


.node-wrapper.active .node {
    border-color: var(--yellow);
}

.node-wrapper.active .user-icon {
    border-color: var(--yellow);
}

.node-wrapper .hover {
    opacity: 0;

    position: absolute;
    bottom: -32px;
    left: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 16px;
    z-index: -1;

    transition: 0.5s;
}

.hover * {
    font-weight: 700;
}

.hover .reputation {
    display: flex;
    align-items: center;
    gap: 4px;
}

.hover .accuracy {
    display: flex;
    align-items: center;
    gap: 4px;
}

.node-wrapper:hover .node {
    box-shadow: 0 0 8px 4px rgba(132, 132, 132, 0.2);

    transition: 0.5s;
}

.node-wrapper:hover .hover {
    opacity: 1;

    bottom: -32px;

    transition: 0.5s;
}

.node > span {
    color: var(--black);
    font-weight: 800;
}

.node-wrapper .character {
    width: 70px;

    position: absolute;

    right: -44px;
    bottom: 0;

    transition: transform 0.5s;

}

.node-wrapper:hover .character {
    transform: scale(1.1);
    transition: transform 0.5s;
}

.node-wrapper .user-icon {
    border-radius: 50%;
    width: 32px;
    height: 32px;

    object-fit: cover;
    overflow: hidden;

    border: 2px solid var(--black);

    position: absolute;
    left: -8px;
    top: -8px;

    transition: transform 0.5s;

}

.node-wrapper .user-icon img {
    width: 100%;
}

.node-wrapper:hover .user-icon {
    transform: scale(1.1);
    transition: transform 0.5s;
}
