<div id="container">

    <app-header 
        (storeToggleEvent)="onStoreStateChanged($event)"
        (exitEvent)="exitGame()"
        [parentType]="'game-phase'">
    </app-header>

    <div class="action-buttons">
        <button class="btn-icon filled" id="watch" (click)="activateWatch()">
            <img src="assets/store/watch.png" alt="Watch" class="watch-icon">
            <div class="watch-counter" [style.display]="watchCount > 0 ? 'flex' : 'none'">{{watchCount}}</div>
        </button>

        <div class="clues-container">
            <button (click)="toggleDicas()" class="btn-icon filled" [class.open-clues]="isOpen">
                <lucide-icon name="lightbulb" class="lucide-icon"></lucide-icon>
            </button>

            @if (isOpen) {
            <div class="clues-content">
                <!-- Navigation buttons -->
                <div class="clues-navegation">
                    <span class="counter">
                        <lucide-icon name="lightbulb" class="lucide-icon"></lucide-icon>
                        Dica Rapida #{{ activeSlideIndex + 1 }} – Diagrama de Casos de Uso
                    </span>
                </div>
                <!-- Swiper Container -->
                <div class="swiper clues-swiper">

                    <div class="swiper-wrapper">

                        <div class="swiper-slide" *ngFor="let dica of dicas">
                            <div class="clue-text">
                                <div class="swiper-button-prev btn-navegation">
                                    <lucide-icon name="chevron-left" class="lucide-icon"></lucide-icon>
                                </div>
                                {{ dica }}
                                <div class="swiper-button-next btn-navegation">
                                    <lucide-icon name="chevron-right" class="lucide-icon"></lucide-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
        <button class="btn-icon filled">
            <lucide-icon name="book-check" class="lucide-icon"></lucide-icon>
        </button>
        <div class="character-container">
            <!-- Balão de fala -->
            @if (isSpeaking) {
            <div class="speech-bubble">
                <app-carousel [items]="dialogCharacter"></app-carousel>
            </div>
            }

            <!-- Personagem -->
            <img [src]="userData?.name === 'Maria' ? 'assets/characters/maria.png' : 'assets/characters/character_teacher_01.png'"
                [alt]="userData?.name === 'Maria' ? 'Maria' : 'Professor'" class="character"
                [class.speaking]="isSpeaking" (click)="toggleSpeech()" />
        </div>
        <button class="btn-icon filled" (click)="toggleSpeech()">
            <lucide-icon name="message-circle-question" class="lucide-icon"></lucide-icon>
        </button>
        <button class="btn-icon filled" (click)="onSaveClick()" [ngClass]="{ 'btn-disabled': saveDisabled }" [disabled]="saveDisabled">
            <lucide-icon name="save" class="lucide-icon"></lucide-icon>
        </button>
    </div>
    <diagram-editor #diagramEditor></diagram-editor>
    <app-store #store (storeStateChanged)="onStoreStateChanged($event)"></app-store>
    <app-confirm-dialog [visible]="confirmDialogVisible" [title]="confirmDialogTitle" [message]="confirmDialogMessage"
        (confirm)="onConfirm()" (cancel)="onCancel()">
    </app-confirm-dialog>
    <app-dialog-finished-gamephase 
        *ngIf="finishedGamePhaseVisible" 
        [accuracy]="accuracy"
        (backToMenuEvent)="onBackToMenu()">
    </app-dialog-finished-gamephase>

</div>