<div id="container">
    <header>
        <div class="left">
            <button class="btn-icon filled" id="exit">
                <lucide-icon class="lucide-icon" name="X"></lucide-icon>
            </button>
            <button class="btn-icon">
                <lucide-icon class="lucide-icon" name="store"></lucide-icon>
            </button>
            <button class="btn-icon">
                <lucide-icon class="lucide-icon" name="backpack"></lucide-icon>
            </button>
        </div>
        <span class="game-time">00:05:45</span>
        <div class="right">
            <div class="money">
                <lucide-icon name="circle-dollar-sign" class="lucide-icon" [size]="32"></lucide-icon>
                <span class="amount">135</span>
            </div>
            <div class="reputation">
                <lucide-icon name = "sparkles" class="lucide-icon" [size]="32"></lucide-icon>
                <span class="amount">500</span>
                <lucide-icon name="move-up-right" class="lucide-icon" [size]="16" color="#00D819"></lucide-icon>
            </div>
            <div class="user-icon-wrapper">
                <img src="https://github.com/sidneihenrique.png" alt="">
            </div>
        </div>
    </header>

    <div class="action-buttons">
        <button class="btn-icon filled">
            <lucide-icon name="lightbulb" class="lucide-icon"></lucide-icon>
        </button>
        <button class="btn-icon filled">
            <lucide-icon name="book-check" class="lucide-icon"></lucide-icon>
        </button>
        <button class="btn-icon filled">
            <lucide-icon name="message-circle-question" class="lucide-icon"></lucide-icon>
        </button>
        <button class="btn-icon filled">
            <lucide-icon name="save" class="lucide-icon"></lucide-icon>
        </button>
    </div>


    <diagram-editor></diagram-editor>
</div>


