#container{
    display: flex;
    flex-direction: column;
    gap: 16px;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

header .left{
    display: flex;
    align-items: center;
    gap: 32px;
}


header .game-time{
    font-size: 18px;
    font-weight: 600;
}

header #exit{
    background: var(--red);
}

header #exit .lucide-icon{
    color: var(--white);
}

header .right{
    display: flex;
    align-items: center;
    gap: 24px;
}

.money{
    display: flex;
    align-items: center;
    gap: 8px;
}

.money .lucide-icon{
    color: var(--yellow);
    width: 48px;
    height: 48px;
    font-size: 48px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.amount{
    font-size: 22px;
    font-weight: 800;
}