<div id="container">
    <header>
        <div class="left">
            <button class="btn-icon filled" id="exit">
                <lucide-icon class="lucide-icon" name="X"></lucide-icon>
            </button> <button class="btn-icon" (click)="toggleStore()">
                <lucide-icon class="lucide-icon" name="store"></lucide-icon>
            </button>
            <button class="btn-icon">
                <lucide-icon class="lucide-icon" name="backpack"></lucide-icon>
            </button>
        </div>
        <span class="game-time">00:05:45</span>
        <div class="right">
            <div class="money">
                <lucide-icon name="circle-dollar-sign" class="lucide-icon" [size]="32"></lucide-icon>
                <span class="amount">135</span>
            </div>
            <div class="reputation">
                <lucide-icon name="sparkles" class="lucide-icon" [size]="32"></lucide-icon>
                <span class="amount">500</span>
                <lucide-icon name="move-up-right" class="lucide-icon" [size]="16" color="#00D819"></lucide-icon>
            </div>
            <div class="user-icon-wrapper">
                <img src="https://github.com/sidneihenrique.png" alt="">
            </div>
        </div>
    </header>

    <div class="action-buttons">
        <div class="clues-container">
            <button (click)="toggleDicas()" class="btn-icon filled"  [class.open-clues]="isOpen">
                <lucide-icon name="lightbulb" class="lucide-icon"></lucide-icon>
            </button>

            @if (isOpen) {
                <div class="clues-content">
                    <!-- Navigation buttons -->
                    <div class="clues-navegation">
                        <span class="counter">
                            <lucide-icon name="lightbulb" class="lucide-icon"></lucide-icon> 
                            Dica Rapida #{{ activeSlideIndex + 1 }} – Diagrama de Casos de Uso
                        </span>
                    </div>
                    <!-- Swiper Container -->
                    <div class="swiper clues-swiper">
                        
                        <div class="swiper-wrapper">
                            
                            <div class="swiper-slide" *ngFor="let dica of dicas">
                                <div class="clue-text">
                                    <div class="swiper-button-prev btn-navegation">
                                        <lucide-icon name="chevron-left" class="lucide-icon"></lucide-icon>
                                    </div>
                                    {{ dica }}
                                    <div class="swiper-button-next btn-navegation">
                                        <lucide-icon name="chevron-right" class="lucide-icon"></lucide-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <button class="btn-icon filled">
            <lucide-icon name="book-check" class="lucide-icon"></lucide-icon>
        </button>
        <button class="btn-icon filled">
            <lucide-icon name="message-circle-question" class="lucide-icon"></lucide-icon>
        </button>
        <button class="btn-icon filled">
            <lucide-icon name="save" class="lucide-icon"></lucide-icon>
        </button>
    </div>
    <diagram-editor></diagram-editor>
    <app-store></app-store>
</div>