<div id="container">
    <header>
        <div class="left">
            <button class="btn-icon log-out" (click)="logout()">
                <lucide-icon class="lucide-icon" name="log-out"></lucide-icon>
            </button>
            <button class="btn-icon" (click)="toggleStore()">
                <lucide-icon class="lucide-icon" name="store"></lucide-icon>
            </button>
            <button class="btn-icon" (click)="true">
                <lucide-icon class="lucide-icon" name="backpack"></lucide-icon>
            </button>
        </div>
        <div class="game-timers">

        </div>
        <div class="right">
            <div class="money">
                <lucide-icon name="circle-dollar-sign" class="lucide-icon" [size]="32"></lucide-icon>
                <span class="amount">{{ userData?.money }}</span>
            </div>
            <div class="reputation">
                <lucide-icon name="sparkles" class="lucide-icon" [size]="32"></lucide-icon>
                <span class="amount">{{ userData?.reputation }}</span>
                @if (userData?.progressing) {
                <lucide-icon name="move-up-right" class="lucide-icon" [size]="16" color="#00D819"></lucide-icon>
                } @else {
                <lucide-icon name="move-down-right" class="lucide-icon" [size]="16" color="#FF0000"></lucide-icon>
                }
            </div>
            <div class="user-info">
                <div class="user-icon-wrapper">
                    <img [src]="userData?.name === 'Tiago' ? 'assets/images/sid.jpeg' : userData?.name === 'Maria' ? 'assets/images/sida.jpg' : 'https://github.com/sidneihenrique.png'"
                        [alt]="userData?.name">
                </div>
                <span class="user-name">{{ userName }}</span>
            </div>
        </div>
    </header>

    <div id="activity-diagram">
        <div class="node-wrapper">
            <div class="node" (click)="openGamePhase()">
                <span>Explorar o Campus</span>
                <img src="assets/characters/character_teacher_01.png" alt="Personagem">
                <div class="hover">
                    <div class="accuracy">
                        <lucide-icon name="square-check" class="lucide-icon" [size]="16" color="#00D819"></lucide-icon>
                        <span>88%</span>
                    </div>
                    <div class="reputation">
                        <span>+140</span>
                        <lucide-icon name="sparkles" class="lucide-icon" [size]="16" color="#000000"></lucide-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-confirm-dialog [visible]="confirmDialogVisible" [title]="confirmDialogTitle" [message]="confirmDialogMessage"
        (confirm)="confirmLogout()" (cancel)="onCancel()">
    </app-confirm-dialog>
</div>