<div id="container">

    <app-header 
        [parentType]="'game-map'">
    </app-header>

    <div id="activity-diagram">
        <div class="uml-start-circle">
            <img src="assets/uml-svg/arrow.svg" class="arrow" alt="arrow" *ngIf="phaseUsers.length > 0"> 
        </div>
        <div *ngFor="let phaseUser of phaseUsers; let last = last">
            <node-activity 
                [phase]="phaseUser"
                [last]="last">
            </node-activity>
        </div>
    </div>

</div>