#container {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .left {
    display: flex;
    align-items: center;
    gap: 32px;
}

header .log-out {
    transform: rotate(-180deg);
}

.game-timers {
    display: flex;
    align-items: center;
    gap: 8px;
}

header .game-time {
    font-size: 18px;
    font-weight: 600;
}

header #exit {
    background: var(--red);
}

header #exit .lucide-icon {
    color: var(--white);
}

header .right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.money {
    display: flex;
    align-items: center;
    gap: 8px;
}

.money .lucide-icon {
    color: var(--yellow);

}

.amount {
    font-size: 22px;
    font-weight: 800;
}

.reputation {
    display: flex;
    align-items: center;
    gap: 8px;
}

.user-icon-wrapper {
    width: 64px;
    height: 64px;

    border: 3px solid var(--black);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    overflow: hidden;
}

.user-icon-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-icon-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.user-name {
    color: var(--black);
    text-align: center;
    font-weight: 700;
    
}

#activity-diagram {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.uml-start-circle {
    width: 60px;
    height: 60px;
    border: 8px solid var(--black);
    border-radius: 50%;

    position: relative;
}

.uml-start-circle .arrow {
    width: 88px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(50%, -50%);
}


.phase-card {

    width: 100%;
    height: 60vh;

    border: 4px solid var(--yellow);
    border-radius: 20px;

    display: flex;
    gap: 24px;
    align-items: flex-start;

    justify-content: space-between;

    padding: 24px;
}

.phase-card .left {
    width: 70%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.phase-card .left .left-top {
    width: 100%;

    margin-bottom: auto;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.phase-card .left .left-top h3 {
    font-size: 30px;
    font-weight: 800;
    color: var(--black);

}

.phase-card .left .left-top p {
    font-size: 16px;
    font-weight: 400;
    color: var(--black);

}

.phase-card .character {
    height: 100%;
}

.phase-card .left-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.phase-card button {
    cursor: pointer;
    background: transparent;

    margin-top: 16px;
    width: 100%;

    padding: 12px 24px;

    font-size: 20px;
    font-weight: 700;
    color: var(--green);

    border: 2px solid var(--green);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    transition: 0.3s;

}

.phase-card button.active {
    background: var(--green);
    color: var(--white);
}

.phase-card button.disabled {
    background: var(--light-gray);
    color: var(--gray);
    border-color: var(--gray);
    cursor: not-allowed;
}

.phase-card button:hover:not(.disabled) {
    background: var(--green);
    color: var(--white);
    filter: brightness(1.1);
    transform: scale(1.02);
    transition: 0.3s;
}



.wrapper {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    gap: 24px;
}

.swiper {
    width: 100%;
    max-width: 780px;
}

.swiper-button-prev, .swiper-button-next {
    color: var(--black);
}

.swiper-button-prev {
    position: initial;
}

.swiper-button-next {
    position: initial;
}

.phase-data {
    display: flex;
    gap: 16px;
}

.phase-data * {
    font-weight: 700;
}

.phase-data .reputation {
    display: flex;
    align-items: center;
    gap: 4px;
}

.phase-data .accuracy {
    display: flex;
    align-items: center;
    gap: 4px;
}