<div class="content">
    <div class="drag-and-drop-buttons">
        <button class="btn-icon filled">
            <img src="assets/icons/association.svg" alt="">
        </button>
        <button class="btn-icon filled">
            <img src="assets/icons/actor.svg" alt="">
        </button>
        <button class="btn-icon filled">
            <img src="assets/icons/use_case.svg" alt="">
        </button>
        <button class="btn-icon filled">
            <img src="assets/icons/extend.svg" alt="">
        </button>
        <button class="btn-icon filled">
            <img src="assets/icons/include.svg" alt="">
        </button>
        <button class="btn-icon filled">
            <img src="assets/icons/dependency.svg" alt="">
        </button>
    </div>

    <div class="board" #paperContainer>
        
    </div>

    <img src="assets/characters/character_teacher_01.png" alt="" class="character">
</div>


