<div class="drag-and-drop-buttons">
    <button>
        <img src="assets/icons/association.svg" alt="">
    </button>
    <button>
        <img src="assets/icons/actor.svg" alt="">
    </button>
    <button>
        <img src="assets/icons/use_case.svg" alt="">
    </button>
    <button>
        <img src="assets/icons/extend.svg" alt="">
    </button>
    <button>
        <img src="assets/icons/include.svg" alt="">
    </button>
    <button>
        <img src="assets/icons/dependency.svg" alt="">
    </button>
</div>

<div class="board">

</div>
