<div *ngIf="visible" class="overlay" [class.visible]="visible" (click)="$event.stopPropagation()">
    <div class="dialog" (click)="$event.stopPropagation()">

        <div class="content">
            <video *ngIf="videoSrc" [src]="videoSrc" autoplay loop muted></video>
            <h2>{{title}}</h2>
            <p class="description">{{description}}</p>
        </div>

        <div class="actions">
            <button class="btn btn-primary" (click)="hide()">Ok</button>
        </div>

    </div>
</div>
