.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    backdrop-filter: blur(0px);
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9998;
    transition: all 0.2s ease-out;
}

.overlay.visible {
    opacity: 1;
    pointer-events: all;
    background-color: var(--overlay);
    backdrop-filter: blur(2px);

    transition: all 0.2s ease-out;
}

.dialog {
    background: var(--white);
    border-radius: 16px;
    padding: 16px 24px;
    min-width: 30vw;
    max-width: 40vw;
    max-height: 80vh;
    overflow-y: auto;
    gap: 16px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    gap: 8px;
}

.content .lucide-icon {
    width: 88px;
    height: 88px;
    font-size: 64px;
}

.content h2 {
    font-size: 24px;
    font-weight: 800;
    color: var(--yellow)
}

.content p {
    font-size: 14px;
    font-weight: 400;
}

.actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.actions .btn {
    padding: 10px 28px;

    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    font-weight: 700;

    cursor: pointer;

    outline: none;
    min-width: 100px;
}

.btn-secondary {
    background: var(--gray);
    color: var(--black);

    border: 2px solid var(--gray);

    font-weight: 400;

    transition: all 0.3s ease;
}

.btn-secondary:hover {
    background: var(--white);
    border: 2px solid #999;

    color: var(--black);

    transform: translateY(-1px);
}

.btn-primary {
    background: var(--green);
    color: var(--white);

    border: 2px solid var(--green);

    font-weight: 800;

    transition: all 0.3s ease;
}

.btn-primary:hover {
    background: #00b814;
    border: 2px solid #00b814;

    color: var(--white);

    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 216, 25, 0.3);
}

video {
    width: 100%;
    min-height: min-content;
    border-radius: 20px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--gray);
}